* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #32c795;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(215, 11, 241, 0.192);
}
